@import '~antd/dist/antd.css';

.page{
  &-wrapper{
    display: flex;
    min-height: 100vh;
  }
  &-content{
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: flex;
    margin: 0 auto;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }
}

.site-layout-sub-header-background {
  background: #fff;
  margin-bottom: 16px;
}

.site-layout-background {
  background: #fff;
}